<div class="geral">
  <h1 id="titulo">Promoções</h1>
  <div id="produtos">
    <% @promotions.each do |promo| %>
    <ul>
      <li>
        <div class="card">
          <%= image_tag promo.image if promo.image.attached? %>
          <h1><%= promo.description %></h1>
          <span class="desconto">-30%</span>
          <div class="container">
            <span class="p_antigo">
              <del>R$ <%= promo.price %></del>
            </span>
            <span class="p_novo">
              R$ <%= promo.price %>
            </span><br>
            <span class="forma_pag">2x <%= promo.price/2 %></span>
          </div>
        </div>
      </li>
    </ul>
    <% end %>
  </div>
</div>