  <div class="geral" id="galeria_produtos">
    <div class="ofertas">
      <%
=begin%>
      <div class="card">
        <img src="imagens/chuteira_red.jpeg">
        <h1>Chuteira Adidas</h1>
        <span class="desconto">-30%</span>
        <div class="container">
          <span class="p_antigo">
            <del>R$ 120,25</del>
          </span>
          <span class="p_novo">
            R$ 84,20
          </span>
          <br>
          <span class="forma_pag">2x R$ 42,10</span>
        </div>
      </div>
      <%
=end%>
      <%@products.each do |product|%>
      <%= link_to product_path(product) do %>
      <div class="card">
        <%= image_tag product.image if product.image.attached? %>
        <h1><%= product.description %></h1>
        <div class="container">
          <span class="p_novo">
            R$ <%= product.price %>
          </span>
          <br>
          <span class="forma_pag">10x R$ <%= product.price/10 %></span>
        </div>
      </div>
      <%end%>
      <%end%>
    </div>
  </div>