  <div class="geral" id="galeria_produtos">
    <div class="ofertas">
      <% unless @products.nil?%>
      <%@products.each do |product|%>
      <%= link_to product_path(product) do %>
      <div class="card">
        <%= image_tag product.image if product.image.attached? %>
        <h1><%= product.product_name %></h1>
        <%if product.promotion %>
        <span class="desconto"><%= "-#{product.percent_promotion}%" %></span>
        <%end%>
        <div class="container">
          <%if product.promotion %>
          <span class="p_antigo">
            <del>R$ <%= product.price %></del>
          </span>
          <%end%>
          <span class="p_novo">
            R$ <%= product.price %>
          </span>
          <br>
          <span class="forma_pag">10x R$ <%= product.price/10 %></span>
        </div>
      </div>
      <%end%>
      <%end%>
      <%end%>
    </div>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>