<div class="geral">

  <%= form_with model: @product do |f| %>
  <fieldset>
    <%= f.label :description %>
    <%= f.text_field :description, class: "entrada", placeholder:"Descrição do Produto", autofocus: true %><br>
    <%= f.label :price %>
    <%= f.number_field :price, step: :any, class: "entrada", placeholder:"Valor do Produto", autofocus: true %><br>
    <%= f.label :image %><br>
    <%= f.file_field :image %>
    <%= f.submit "Enviar", id:"enviar"%>
  </fieldset>
  <% end %>

</div>