<div class="geral container-fluid">
  <div class="row">
    <div class=" col">
      <%= image_tag @product.image %><br />
      <p class="font-weight-bold text-center" style="font-size: 20pt;">
        <%= @product.product_name %>
      </p>
    </div>
    <div class="col about">
      <p class="text-wrap">
        <%= @product.description %><br />
        <%if @product.promotion%>
        <span class="p_antigo">
          <del>R$ <%= @product.price %></del>
        </span>
        <%end%>
        <span class="font-weight-bold my-3">R$ <%= @product.price %></span>
      <div class="container-button">
        <%= link_to "Editar", edit_product_path(@product), class:"btn btn-primary" %>
        <%= link_to "Comprar", "#", class:"btn btn-success" %>
      </div>
      </p>
    </div>
  </div>
</div>